<!-- filepath: d:\Desktop\fotoblog\fotoblog\blog\templates\blog\header2.html -->

<div class="app-content-actions">
    <input id="search-bar" class="search-bar" placeholder="Search..." type="text">
    <div class="app-content-actions-wrapper">
      <div class="filter-button-wrapper">
        <button class="action-button filter jsFilter"><span>Filter</span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-filter"><polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"/></svg></button>
        <div class="filter-menu">
          <label>Category</label>
          <select id="category-filter">
            <option value="all">All Categories</option>
            <option value="PRINCIPALE">PRINCIPALE</option>
            <option value="NEZ">NEZ</option>
          </select>
          
          <div class="filter-menu-buttons">
            
            <button class="filter-button apply">
              Apply
            </button>
          </div>
        </div>
      </div>
      
    </div>
  </div>